.completed{
    text-decoration: line-through;
    opacity: 0.5;
}
body{
    background: linear-gradient(90deg,#457fca, #5691c8);
    color:#fff;
}
.correct{
   cursor: pointer;
   border: none;
   margin-top: 45%;
}
.tick{
    height: 20px;
    width: 20px;
}
.wrong{
   cursor: pointer;
   border: none;
   margin-top: 45%;
}
.text{
    display: inline;
}
.todo{
    width:60%;
    display: grid;
    grid-template-columns: 38fr 1fr 1fr;
    margin-top: 2%;
    height: 10vh;
}
.input{
    width: 60%;
    padding-top: 1%;
    padding-bottom: 1%;
    position: relative;
    font-size: 100%;
}
.add{
    position: absolute;
    right: 5%;
    top: -35%;
    padding-top:5px;
    padding-bottom:5px;
    cursor: pointer;
    background-color: #fff;
    border: none;
}
.select{
    width: 15%;
    height: 35px;
    margin-left: 2%;
    font-size: 100%;
    cursor: pointer;
}
.position{
    display: inline;
    position: relative;
}
.app{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-left: 5%;
}
.heading{
    text-align: center;
    margin-top: 7%;
}
